@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.2;
	background-color: $color-dark;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.btn-accent {
	display: inline-flex;
	padding: 18px;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	background: linear-gradient(194.68deg
, #ffb548 15%, #d2962a 90%);
	box-shadow: 0px 3px 0px #c38625;
	border-radius: 4px;
	color: #1a1917;
}

.section-page {
	height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.section-inner {
	position: relative;
  z-index: 3;
}

.section-title,
.section-subtitle {
	@include font-title;
	color: $color-white;
	padding-bottom: 10px;
}

.section-title {
  font-size: 80px;
  line-height: 80px;
}

.section-subtitle {
	font-size: 24px;
  line-height: 24px;
}