$color-white: #ffffff;
$color-accent: #ffb548;
$color-dark: #080a0b;
// Radius
$radius-default: 4px;

@mixin font-title {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
  letter-spacing: 3px;
}

// @include font-title;