@import "variables";
@import "overall";
@import "normalize";

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__inner {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 55px;
  max-height: 55px;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-white;
  &:not(:last-child) {
    margin-right: 55px;
  }
}

.nav__link {
  padding: 5px 8px;
  display: inline-block;
  color: inherit;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $color-accent;
  }
}

.header__end {
  display: flex;
}

.lang-select__custom {
  display: inline-block;
  position: relative;
  margin-right: 23px;
  & select {
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 30px 10px 10px;
    color: $color-white;
    appearance: none;
    border: 0;
    & option {
      background-color: $color-dark;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%; right: 10px;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 5px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='14' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35574 3.10404C0.388949 1.83015 1.29753 0 2.89675 0V0C3.50178 0 4.07197 0.283071 4.43774 0.765027L15.5412 15.3955C15.8124 15.7529 15.8124 16.2471 15.5412 16.6045L4.43774 31.235C4.07197 31.7169 3.50178 32 2.89675 32V32C1.29753 32 0.388951 30.1699 1.35575 28.896L11.1429 16L1.35574 3.10404Z' fill='white'/%3E%3C/svg%3E");
    z-index: -1;
  }
}

.playground {
  padding-left: 23px;
  border-left: 1px solid rgba(255,0255,255,0.5);
}

.playground__item {
  display: inline-flex;
  &:not(:last-child) {
    margin-right: 17px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  &::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%,
  rgba(255, 181, 72, 0) 0%,
  rgba(52, 44, 29, 0.80319) 73.22%,
  #08090A 99.74%);
  }
}

.hero__inner {
  position: relative;
  z-index: 1;
}

.hero__title {
  @include font-title;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 10px;
}
.hero__description {
  @include font-title;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}
.hero__button {
  display: inline-flex;
  padding: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  background: linear-gradient(194.68deg,
  #ffb548 15%,
  #d2962a  90%);
  box-shadow: 0px 3px 0px #c38625;
  border-radius: $radius-default;
  color: #1a1917;
  & span {
    &:not(:last-child) {
      padding-right: 30px;
      position: relative;
      &::before {
        content: "";
        width: 1px;
        height: 26px;
        position: absolute;
        top: 50%; right: 15px;
        transform: translateY(-50%) rotate(-5deg);
        background-color: rgba(0,0,0,0.5);
      }
    }
  }
}