@import "variables";
@import "overall";
@import "normalize";

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__inner {
  padding-top: 20px;
  @include flex-sb-center;
}

.header__logo {
  max-width: 55px;
  max-height: 55px;
}

.nav__list {
  display: flex;
}

.nav__item {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $color-white;
  &:not(:last-child) {
    margin-right: 55px;
  }
}

.nav__link {
  padding: 5px 8px;
  display: inline-block;
  color: inherit;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $color-accent;
  }
}

.header__end {
  display: flex;
}

.lang-select__custom {
  display: inline-block;
  position: relative;
  margin-right: 23px;
  & select {
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px 30px 10px 10px;
    color: $color-white;
    appearance: none;
    border: 0;
    & option {
      background-color: $color-dark;
    }
  }
  &::before {
    @include pseudo;
    top: 50%; right: 10px;
    transform: translate(-50%, -50%) rotate(90deg);
    width: 5px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='14' viewBox='0 0 16 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.35574 3.10404C0.388949 1.83015 1.29753 0 2.89675 0V0C3.50178 0 4.07197 0.283071 4.43774 0.765027L15.5412 15.3955C15.8124 15.7529 15.8124 16.2471 15.5412 16.6045L4.43774 31.235C4.07197 31.7169 3.50178 32 2.89675 32V32C1.29753 32 0.388951 30.1699 1.35575 28.896L11.1429 16L1.35574 3.10404Z' fill='white'/%3E%3C/svg%3E");
    z-index: -1;
  }
}

.playground {
  display: flex;
  padding-left: 23px;
  border-left: 1px solid rgba(255,0255,255,0.5);
}

.playground__item {
  &:not(:last-child) {
    margin-right: 17px;
  }
}

// Hero ===============
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url(../images/hero-bg.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-white;
  &::before {
    @include pseudo;
    width: 100%;
    height: 100vh;
    background: radial-gradient(189.96% 61.18% at 50% 38.82%,
  rgba(255, 181, 72, 0) 0%,
  rgba(52, 44, 29, 0.80319) 73.22%,
  #08090A 99.74%);
  }
}

.hero__title,
.hero__description {
  @include font-title;
}

.hero__title {
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 10px;
}
.hero__description {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 30px;
}
.hero__button {
  & span {
    &:not(:last-child) {
      padding-right: 30px;
      position: relative;
      &::before {
        @include pseudo;
        width: 1px;
        height: 26px;
        top: 50%; right: 15px;
        transform: translateY(-50%) rotate(-5deg);
        background-color: rgba(0,0,0,0.5);
      }
    }
  }
}

.hero-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20px; left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  color: inherit;
  border: 0;
  & span {
    font-size: 12px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
  & svg {
    transform: rotate(90deg);
  }
}

// Royale ===============
.royale {
  background-image: url(../images/royale-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
	&::after,
  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
  }
  &::after {
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
  }
  &::before {
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%);
    z-index: 2;
  }
}

.royale__inner {
  @include flex-sb-center;
}

.royale__info {
  width: 47%;
  z-index: 2;
}

.royale__title {
  position: relative;
  &::before {
    @include pseudo;
    bottom: 0; left: 0;
    width: 163%;
    height: 3px;
    background-color: $color-white;
  }
}

.royale__description {
  max-width: 365px;
  padding-top: 60px;
  margin-left: auto;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  color: $color-white;
  & span {
    position: relative;
    &::before {
      @include pseudo;
      bottom: 0; right: 0;
      width: 120px;
      height: 6px;
      background-color: $color-accent;
      z-index: -1;
    }
  }
}

.royale-slider {
  width: 50%;
  z-index: 1;
}

.slider__list {
  width: 500px;
  height: 610px;
  position: relative;
  margin-left: auto;
}

.slider__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  border-radius: $radius-default;
  transition: all 0.3s ease-in-out;
}

.slider__img {
  width: 101%;
  height: 101%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover
}

// Features ===============
.features {
  background-image: url(../images/features-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
	&::after,
  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
  }
  &::before {
    background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%);
  }
}

.features__inner {
  max-width: 410px;
  margin-left: auto;
}

.features__title {
  margin-bottom: 60px;
}

.features-accordion {
  max-width: 410px;
  min-height: 250px;
}

.accordion__item {
  position: relative;
}

.accordion__item > .accordion__input {
  &:checked ~ article {
    height: 100%;
    &::before {
      @include pseudo;
      top: 5px;
      left: -50px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $color-accent;
    }
  }
  &::before {
    @include pseudo;
    left: -50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $color-white;
  }
}

.accordion__input {
  display: none;
  &:checked + .accordion__label {
    color: #e9382f;
  }
}

.accordion__label {
  transition: all 0.2s ease-in-out;
  &:hover {
    cursor: pointer;
    color: #e9382f;
  }
}

.accordion__article {
  height: 0;
  overflow: hidden;
}

.accordion__description {
  padding: 10px 0 40px;
  font-size: 18px;
  line-height: 22px;
}


.accordion__label {
  @include font-title;
  font-size: 36px;
  line-height: 36px;
  color: $color-accent;
  text-transform: uppercase;
}

.accordion__description {
  color: $color-white
}

// System ===============
.system {
  background-image: url(../images/system-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
	&::after,
  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
  }
  &::before {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
  }
}

.system__title,
.system__title-sub {
  text-align: center
}

.system__title {
  margin-bottom: 130px;
}

.requirements__title {
  @include font-title;
  color: $color-accent;
}

.requirements__description {
  font-size: 18px;
  line-height: 22px;
  color: $color-white
}

.requirements__list {
  display: grid;
  max-width: 570px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-auto-flow: row dense;
}

.requirements__item {
  padding: 25px 15px;
  border: 1px solid rgba(255,0255,255,0.3);
  &:last-child {
    grid-column: span 2;
  }
}
// Press ===============
.press {
  background-image: url(../images/press-bg.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
	&::after,
  &::before {
    @include pseudo;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
  }
  &::after {
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
    z-index: 1;
  }
  &::before {
    background: radial-gradient(78.66% 177.87% at 19.56% 37.57%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%);
  }
}

.press__inner {
  display: flex;
  justify-content: space-between;
}

.press__start {
  max-width: 440px;
  margin-right: 30px;
}

.press__end {
  width: 50%;
  position: relative;
}

.quotes__list {
  width: 529px;
  margin-left: auto;
  position: absolute;
  top: -30%;
}

.press__title,
.press__description {
  margin-bottom: 50px;
}

.press__description {
  font-size: 18px;
  line-height: 22px;
  color: $color-white;
}

.quotes__article {
  width: 450px;
  padding: 20px;
  position: absolute;
  background-color: #1A1A1B;
  border-radius: $radius-default +5px;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.quotes__start {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quotes__user-name {
  @include font-title;
  color: $color-accent;
}

.quotes__user-rank,
.quotes__date {
  color: rgba(255,255,255,0.5);
}

.quotes__user-rank {
  font-size: 18px;
  line-height: 22px;

}

.quotes__avatar {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 6px 1px 0px $color-accent;
  margin-right: 30px;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.quotes__comment {
  color: $color-white;
  margin-bottom: 20px;
}

.quotes__icon {
  position: absolute;
  top: 20px; right: 20px;
  fill: rgba(255,255,255,0.5);
}

// Footer ===============
.footer__start {
  @include flex-sb-center;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.footer__logo {
  max-width: 90px;
  max-height: 90px;
}

.footer__nav,
.footer__social {
  padding-top: 50px;
}

.footer__nav {
  & .nav__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.social__list {
  display: flex;
}

.social__item {
  &:not(:last-child) {
    margin-right: 55px;
  }
}

.social__link {
  & svg {
    fill: #fff;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    & svg {
      fill: #ff1313;
    }
  }
}

.footer__end {
  @include flex-sb-center;
  padding-top: 25px;
  padding-bottom: 40px;
}

.footer__copyright {
  color: rgba(255,255,255,0.5);
}

.footer__sub-nav {
  & .nav__item {
    &:not(:last-child) {
      margin-right: 15px;
      position: relative;
      &::after {
        @include pseudo;
        top: 50%; right: -7px;
        width: 1px;
        height: 12px;
        transform: translateY(-50%);
        background-color: $color-white;
      }
    }
  }
}